## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [3]:
# Com codigo abaixo, saberemos o percentual de acerto por aluno e por disciplina. Iremos dividir os dataframes das matérias pela quantidade total de questões por disciplina.

percentual_mat = df_mat / 24
percentual_por = df_por / 18
percentual_geo = df_geo / 8
percentual_ing = df_ing / 8
percentual_his = df_his / 8
percentual_fis = df_fis / 12
percentual_qui = df_qui / 12

# Usarei a materia de matematica como exemplo do output.

percentual_mat.round(decimals= 2) #O metodo round foi usado para arredondar o valor em duas casas decimais.

    Qt_acertos
0         0.25
1         0.79
2         0.58
3         0.42
4         0.29
..         ...
95        0.25
96        0.33
97        0.96
98        0.00
99        0.46

[100 rows x 1 columns]

In [4]:
# O codigo abaixo vai nos mostrar o total de acerto por alunos, para isso, basta somar todos os dataframes.

total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [5]:
#Para identifica a porcentagem geral de cada aluno, vamos dividir a quantidade de acerto pela quantidade total de questões.

total_questões = 24 + 18 + 8 + 8 + 8 + 12 + 12

porcentagem_geral = total / total_questões

porcentagem_geral.round(decimals= 2)

    Qt_acertos
0         0.39
1         0.53
2         0.56
3         0.36
4         0.33
..         ...
95        0.38
96        0.30
97        0.44
98        0.44
99        0.47

[100 rows x 1 columns]

In [6]:
#Usei o dataframe da quantidade de acertos por aluno, filtrei para aqueles que acertaram mais que 45 questões, e realizei a contagem.
total[total['Qt_acertos'] > 45].value_counts()

#Foi apresntado a quantidade de alunos que acertou mais que 45 questões por quantidade de questões acertadas, se quisermos saber o total basta colocar um .sum() no final

Qt_acertos
50            7
48            5
53            3
46            2
49            2
52            2
55            2
56            2
47            1
54            1
58            1
62            1
63            1
66            1
Name: count, dtype: int64

In [7]:
total[total['Qt_acertos'] > 45].value_counts().sum()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [8]:
# seu código aqui

df_desqualificados = total[(df_mat['Qt_acertos']==0)|
                           (df_fis['Qt_acertos']==0)|
                           (df_qui['Qt_acertos']==0)]
df_desqualificados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

## 3) Registros de Vacinação COVID19 - RS até TO
Vamos trabalhar agora com a base de vacinações do RS até o T). Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no RS até TO?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [9]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DRS/part-00000-9026585e-829a-47ae-ab35-98eb5897c24d.c000.csv'

In [11]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6612563 entries, 0 to 6612562
Data columns (total 32 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   document_id                               object
 1   paciente_id                               object
 2   paciente_idade                            int64
 3   paciente_dataNascimento                   object
 4   paciente_enumSexoBiologico                object
 5   paciente_racaCor_codigo                   float64
 6   paciente_racaCor_valor                    object
 7   paciente_endereco_coIbgeMunicipio         float64
 8   paciente_endereco_coPais                  float64
 9   paciente_endereco_nmMunicipio             object
 10  paciente_endereco_nmPais                  object
 11  paciente_endereco_uf                      object
 12  paciente_endereco_cep                     float64
 13  paciente_nacionalidade_enumNacionalidade  object
 14  estabelecimento_valor                     int64
 15  estabelecimento_razaoSocial               object
 16  estalecimento_noFantasia                  object
 17  estabelecimento_municipio_codigo          int64
 18  estabelecimento_municipio_nome            object
 19  estabelecimento_uf                        object
 20  vacina_grupoAtendimento_codigo            int64
 21  vacina_grupoAtendimento_nome              object
 22  vacina_categoria_codigo                   float64
 23  vacina_categoria_nome                     object
 24  vacina_lote                               object
 25  vacina_fabricante_nome                    object
 26  vacina_fabricante_referencia              object
 27  vacina_dataAplicacao                      object
 28  vacina_descricao_dose                     object
 29  vacina_codigo                             int64
 30  vacina_nome                               object
 31  sistema_origem                            object
dtypes: float64(5), int64(5), object(22)
memory usage: 1.6+ GB

In [106]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,9b95319b-dcfa-4ba6-809c-47ea544b7f9b-i0b0,4997dce78d15781e263d2c711fb91735b76c4f012e6a7a...,81,1942-05-02,M,1.0,BRANCA,431127.0,10.0,LAGOA DOS TRES CANTOS,...,2.0,Faixa Etária,2400824/00,BUTANTAN,152,2024-03-27,Única,33,INF3,Novo PNI
1,43bdd311-7edf-4e3d-ad13-2f5c3aa3a80e-i0b0,b4b1273aab1d960a01a43cb07b32b891255f4e201794a4...,28,1992-11-29,F,1.0,BRANCA,431490.0,10.0,PORTO ALEGRE,...,2.0,Faixa Etária,FG3529,PFIZER,Organization/00394544000851,2021-10-19,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,9c9f8eda-77d5-4c14-817a-3331d4a37144-i0b0,81b6b19f21517449693a3fb8db4ff6939d995456fc9d96...,61,1960-06-12,F,1.0,BRANCA,431340.0,10.0,NOVO HAMBURGO,...,2.0,Faixa Etária,210275,SINOVAC/BUTANTAN,NaN,2021-07-22,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,G-MUS - Gestão Municipal de Saúde
3,43c4ebb6-976e-4eea-807f-a993d8a39c76-i0b0,4c525548992ad07894e4149b3ee9d9ea4f9a93b6746fe5...,71,1952-09-21,M,1.0,BRANCA,431660.0,10.0,SANANDUVA,...,2.0,Faixa Etária,2400934/00,BUTANTAN,152,2024-04-03,Única,33,INF3,Novo PNI
4,9fb022e1-9c2a-453c-a1e6-667b1b06e75b-i0b0,005019b2e2170e5097be33f5b6974713ca9c243ec1b997...,13,2008-12-28,M,1.0,BRANCA,432300.0,10.0,VIAMAO,...,2.0,Faixa Etária,FL3207,PFIZER,Organization/28290,2021-12-28,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [13]:
df.shape[0]

6612563

In [14]:
#Usando o método nunique na coluna paciente_id obtemos o total de paciente vacinados.

df['paciente_id'].nunique()

5075877

In [109]:
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

496571

In [110]:
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

496571

In [111]:
df_menor = df[df['paciente_idade'] < 18]
df_menor['paciente_id'].nunique()

671317

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [16]:
#Aqui fazemos uma cópia do dataframe original, filtrando para menores de 18 anos

df_menor = df[df['paciente_idade'] < 18].copy()

In [17]:
#Vizualização quais são as colunas que tem no meu dataframe.

df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [18]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                       465157
Comorbidades                                        31513
Trabalhadores de Saúde                              12655
Povos Indígenas                                      3625
Outros                                               1712
Pessoas com Deficiência                               894
Gestantes                                             798
Povos e Comunidades Tradicionais                      413
Trabalhadores da Educação                             345
População Privada de Liberdade                        122
Puérperas                                             113
Trabalhadores Industriais                              47
Pessoas Institucionalizadas                            45
Pessoas em Situação de Rua                             16
Pessoas de 60 anos ou mais institucionalizadas         14
Trabalhadores de Transporte                            10
Forças Armadas (membros ativos)                         7
Forças de Segurança e Salvamento                        2
Funcionário do Sistema de Privação de Liberdade         2
Trabalhadores Portuários                                1
Name: count, dtype: int64

In [20]:
#Lista com as colunas dos estabelecimentos que serão utilizadas

lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [21]:
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(2354, 6)